/* Sticky footer styles
-------------------------------------------------- */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype'),
    url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');

}
body,textarea,pre,.navbar-search .search-query{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:20px;
}
label, input, button, select, textarea{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
}
h1,h2,h3,h4,h5{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -175px;
    padding:0;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 185px;
}
#footer {
    background-color: #f5f5f5;
    padding-top:20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#footer ul.footer-left-most{
    text-align:right;
    border-left: none;
}
ul.help-links li{
    list-style: none;
}
ul.help-links li a{
    color: #007abc;
    font-size: 12px;
    font-weight: normal;
}
.help-links{
    border-left: solid 1px #fff;
    height: 90px;
}
.footer-left-most .help-links{
    border-left: none;
}


.header-back{
    background:none;
    background-color:#FFFFFF;
    height:50px;
}
.navbar-inner {
    height:45px;
    border:0;
    background:none;
    padding-left:0;
    padding-right:0;
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
	border-color: rgba(228, 108, 10, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 108, 10, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 108, 10, 0.6);
}
.btn-primary {
	background: linear-gradient(to bottom, #e46c0a, #864B1A);
}
body{
    background: #fff;
}
h1{
	font-size:35px;
}

a.powered-by-logo {
    background: transparent url(../img/poweredByLogo.png) no-repeat 0 0;
    display: block;
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding-right:10px;
    padding-bottom:5px;
}

.pull-right {
    float: right;
}


h2{
    margin:20px 0;
    padding:0;

    color: #222222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 30px;
}
h3 {
	font-size:20px;
	font-weight: normal;
}
h4 {
	font-size:14px;
	font-weight: bold;
}
p {
	font-size:12px;
    margin:20px 0;
}
.bottom-space {
	margin-bottom:20px;
}

.mc-img {
    background:transparent url(../images/mc_img.png) no-repeat left top;
    width:524px;
    height:385px;
    display:block;
    cursor:pointer;
}
.max-width {
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.floatL {
	float: left;
	margin-right: 2%;
}
.text-desc {
	width: 45%;
	margin: 4% 0 0 2%;
}
.loginSC {
	width: 478px;
	height: 300px;
	background: url(../images/mc_img.png) no-repeat left;
	overflow: hidden;
	display: block;
	float: right;
	margin-right: 2%;
	position: relative;
}
div#footer{
    background: none repeat scroll 0 0 #e6e7e8;
}
ul.help-links li a{
    color: #007abc;
    font-size: 12px;
    font-weight: normal;
}
ul.help-links li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.help-links{
    border-left: solid 1px #fff;
    height: 90px;
    padding-left: 20px;
    float:left;
    margin-right:50px;
}
.login-header{
    background: transparent;
}
.title-section {
background: transparent;
    box-shadow: none;
    -webkit-box-shadow:

}
.content-section{
    background:white;
}

.content-data{
    padding:20px;
}
.content-section, .content-section-small, .title-section{
/*    -webkit-box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);*/
}
.title-section h1{
    margin:0 0 0 0;
}
.title-section h3{
    margin:0 0 0 20px;
    font-size:18px;
}
.main-menu-navbar{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 48%, rgba(255,255,255,1) 63%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(48%,rgba(240,240,240,1)), color-stop(63%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

    border-radius: 0;
    border-top:solid 1px #bcbec0;
    border-bottom:solid 1px #bcbec0;
    border-left: none;
    border-right: none;

    box-shadow: none;
}

.navbar .nav > .active > a{
    padding:13px 20px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background: #f58020;
    color: #fff;
    text-shadow: none;
    position: relative;
}
.navbar .nav > .active > a:after{
    background: transparent url(../img/active-punch.png) no-repeat left top;
    content: "";
    position: absolute;
    left:50%;
    top:0;
    width:23px;
    height: 10px;
    margin-top:-1px;
    margin-left: -12px;
}

.main-menu {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar {
    margin-bottom: 20px;
    overflow: visible;
}
.brand{
    margin-top:15px;
    margin-left: 20px;
    display: block;
}
.btn-primary {
    background: rgb(245,128,32); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNTgwMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjQ5NTQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%, rgba(244,149,70,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(245,128,32,1)), color-stop(100%,rgba(244,149,70,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58020', endColorstr='#f49546',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.btn:hover, .btn:focus{
    background-color:transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: rgb(245,128,32);
}
.share-pane a.facebook{
    background:transparent url(../images/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../images/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../images/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.identity-box{
    padding-left:20px;
}
.btn-home{
    background: transparent url(../img/home-btn-back.png) no-repeat left top;
    width:182px;
    height: 53px;
    text-shadow: none;
    border:none;
    text-align: center;
    font-size: 18px;
    color:#f7941e;

}
button.btn-home:hover, button.btn-home:focus{
    transition:none;
    background: transparent url(../img/home-btn-back.png) no-repeat left top;
}
.modal-header{
    background: #444;
    color:#fff;
}
.modal-header h3{
    color:#fff;
    font-size:16px;
    font-weight: bold;
}
.share-pane a.facebook{
    background:transparent url(../img/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../img/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../img/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.form-actions{
    border-top:none;
    background:transparent;
}
div.control-group ul li{
    line-height: 30px;
}
.navbar .nav > li > a{
    color: #f58020;
    text-shadow: none;
    cursor: pointer;
}
.navbar .nav > li > a:hover{
    color:#000;
}
@media all and (max-width:650px) {
    .content-data{
        padding:0;
    }
    .login-container{
        padding-left: 0;
    }
    . main-menu + div.container-fluid{
        padding-left: 0;
    }
    .form-horizontal .control-label{
        display: block;
        float: none;
        padding-left: 0;
        text-align: left;
        text-indent: 0;
        width: 80px;
    }

    .form-horizontal .controls {
        margin-left: 0;
    }
    .form-horizontal .form-actions{
        padding-left: 0;
        margin-left: 0;
    }
}


.alert-heading span{
    font-size: 30px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}
.alert-heading h3{
    margin-top:20px;
}
.alert-heading img{
    margin-right: 20px;
}